body{
    background-color: #141D26;
}
.main{
    background-color: #141D26;

}
.header{
    background-color: #1B2836;
    display: flex;
    justify-content: center;
    padding-top: 5px;
    padding-bottom: 5px;
}
.App-logo{
    width: 30px;
}
.tweetList{

}
.card{
    display: flex;
    background-color: #1B2836;
    border: 1px solid black;
    margin-top: 15px;
    width: 60%;
    color: white;
    margin-left: 20%;
    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
}

.tweet{
    color: white;
}

.comment{
    color: white;
}
.avatar{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: white;
}
.commentaires{
    display: flex;
    align-items: center;
}

.commentBody{
    display: flex;
    flex-direction: column;
    margin-left: 5%;
}
.tweet_text{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 5%;
}

.nameDate{
    display: flex;
    align-items: baseline;
}

ul{
    color: #5b646d;
}
.hr{
    color: #5b646d;
}
